.Userprojects{
    padding-top: 130px;
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .sidbar{
        width: 450px;
        height: 600px;
        border: 2px solid #000;
        padding: 20px;

        .li{
            width: 100%;
            height: 100px;
            border-radius: 10px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-color: gainsboro;
            font-size: 24px;
            font-weight: 800;
            transition: color 0.3, background-color 0.3s;
        }
        .active{
            background-color: black;
            color: white;

        }
    }
    .content{
        width: 900px;
        height: 600px;
        border: 1px solid #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        .li{
            width: 821px;
            height: 140px;
            border: 1px solid #000;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            .li-info{
                .title{

                }
                .role{

                }
                div{
                    p{

                    }
                }
            }
            .li-num{

            }
        }
    }
}
.Applylist{
    padding-top: 88px;
    // padding-bottom: 30px;
    width: 1200px;
    margin: 0 auto;
    .sort{
        background: #E4E4E4;
    }
    .task-info{
        height: 207px;
        display: flex;
        padding: 30px 61px 30px 61px;
        background: #1F1E2E;
        color: #fff;
        .task-demand{
            flex: 8;
            .task-title{
                font-size: 38px;
                margin-bottom: 5px;
                font-family: PingFangSC-Semibold, PingFang SC;
                font-weight: 600;
                color: #FFFFFF;
                height: 53px;
                line-height: 53px;
            }
            .task-skill{
                height: 25px;
                .skill-tip{
                    width: 179px;
                    height: 25px;
                    line-height: 25px;
                    font-size: 18px;
                    font-family: PingFangSC-Regular, PingFang SC;
                    background-color: #1F1E2E;
                    font-style: normal;
                    letter-spacing: 1px;
                    margin-right: 5px;
                }
                span{
                    display: inline-block;
                    margin-right: 6px;
                    font-size: 12px;
                    // padding: 2px 12px 3px 12px;
                    height: 22px;
                    line-height: 22px;
                    padding: 0 12px;
                    color: #000000;
                    &:nth-of-type(3n+1){
                        background-color: #FFB1BE;
                    }
                    &:nth-of-type(3n+2){
                        background-color: #FEE7B9;
                    }
                    &:nth-of-type(3n+3){
                        background-color: #C9B1FF;
                    }
                }
                margin-bottom: 10px;
            }
            .task-cycle{
                margin-top: 40px;
                span{
                    margin: 0 50px 0 10px;
                    font-size: 18px;
                }
            }
        }
        .task-changeInfo,.task-delete,.task-apply-switch{
            margin-top: 10px;
            font-size: 16px;
            line-height: 30px;
            border: 1px solid #ccc;
            height: 30px;
            background-color: rgb(235, 231, 231);
            padding: 0 5px;
            cursor: pointer;
            margin-left: 10px;
        }
        .task-delete{

        }
        .apply-number{
            flex: 2;
            text-align: right;
            font-size: 18px;
            margin-top: 32px;
            .a-number{
                font-size: 60px;
                margin-right: 50px;
                // margin-bottom: 20px;
            }
            .a-tip{
                font-size: 12px;
            }
        }
    }
    // .product-stage{
    //     padding-left: 50px;
    //     padding-right: 50px;
    //     margin-top: 50px;
    //     margin-bottom: 50px;

    // }
    .task-list{
        .clearfix::after,.clearfix::before{
            content: "";
            display: block;
            height: 0px;
            visibility: hidden;
            clear: both;
        }
        padding: 56px 37px 115px 61px;
        margin-top: 24px;
        margin-bottom: 50px;
        box-shadow: 0px 0px 44px -24px #7C7879;
        border-radius: 30px;
        h4{
            font-size: 38px;
        }
        .product-list{
            min-height: 600px;
            ul{
                list-style: none;
                padding: 0;
                li{
                    box-shadow: 0px 0px 44px -24px #7C7879;
                    border-radius: 9px;
                    width: 1102px;
                    height: 285px;
                    padding: 31px 27px 15px 34px;
                    display: flex;
                    margin-bottom: 38px;
                    .product-list-item{
                        // height: 200px;
                        // margin-right: 20px;
                        // display: flex;
                        width: 750px;
                        padding-bottom: 15px;
                        // justify-content: space-between;
                        .product-list-info{
                            display: flex;
                            .product-img{
                                height: 119px;
                                width: 119px;
                                background-color: #1F1E2E;
                                border-radius: 50%;
                                // flex: 1.5;
                                // position: relative;
                            }
                            .product-info{
                                // flex: 3;
                                // width: 300px;
                                // height: 150px;
                                margin-left: 28px;
                                // background-color: bisque;
                                .applicant-name{
                                    height: 40px;
                                    font-size: 28px;
                                    font-family: PingFangSC-Medium, PingFang SC;
                                    font-weight: 500;
                                    color: #1F1E2E;
                                    line-height: 40px;
                                    letter-spacing: 1px;
                                    span{
                                        height: 17px;
                                        font-size: 12px;
                                        font-family: PingFangSC-Regular, PingFang SC;
                                        font-weight: 400;
                                        color: #554AFF;
                                        line-height: 17px;
                                        margin-left: 17px;
                                        text-decoration: underline solid;
                                        cursor: pointer;
                                    }
                                }
                                .applicant-skill{
                                    .good-skill{
                                        font-size: 12px;
                                        line-height: 17px;
                                        height: 17px;
                                        font-style: normal;
                                        color: #6C6C6C;
                                    }
                                    span{
                                        display: inline-block;
                                        padding: 0 3px;
                                        margin-right: 5px;
                                        &:nth-of-type(3n+1){
                                            background-color: #FFB1BE;
                                        }
                                        &:nth-of-type(3n+2){
                                            background-color: #FEE7B9;
                                        }
                                        &:nth-of-type(3n+3){
                                            background-color: #C9B1FF;
                                        }
                                    }
                                }
                                .applicant-info{
                                    span{
                                        margin-right: 40px;
                                        cursor: pointer;
                                        color: blue;
                                    }
                                    margin-top: 10px;
                                    margin-bottom: 10px;
                                }
                                .applicant-mess{
                                    cursor: pointer;
                                    margin-top: 31px;
                                    display: flex;

                                    .applicant-mess-item{
                                        margin-right: 21px;
                                    }
                                }
                            }
                            .product-apply{
                                // width: 180px;
                                // flex: 1.5;
                                // height: 150px;
                                flex: 1;
                                // background-color: blueviolet;
                                // margin-left: 480px;
                                text-align: right;
                                // margin-left: 172px;
                                .product-apply-price{
                                    width: 98px;
                                    height: 40px;
                                    font-size: 28px;
                                    font-family: PingFangSC-Medium, PingFang SC;
                                    font-weight: 500;
                                    color: #1F1E2E;
                                    line-height: 40px;
                                    letter-spacing: 2px;
                                }
                                .product-apply-he{
                                    padding-right: 10px;
                                    font-size: 12px;
                                    color: #6C6C6C;
                                }
                                .product-apply-time{
                                    font-size: 16px;
                                    margin-top: 50px;
                                    .product-apply-time-icon{
                                        svg{
                                            width: 12px;
                                            height: 12px;
                                            color: #828282;
                                        }
                                    }
                                    .product-apply-time-text{
                                        // display: inline-block;
                                        margin-left: 6px;
                                        font-size: 12px;
                                        margin-top: 20px;
                                        color: #828282;
                                    }
                                }
                            }
                        }
                        
                        .product-apply-desc{
                            span{
                                display: inline-block;
                                width: 0;
                                height: 0;
                                border: 16px solid #F1F1F1;
                                border-top: 15px solid transparent;
                                border-right: 15px solid transparent;
                                margin-left: 60px;
                                margin-top: -5px;
                            }
                            .product-apply-desc-text{
                                width: 100%;
                                background-color: #F1F1F1;
                                margin-top: -15px;
                                padding: 16px;
                                font-size: 16px;
                                color: #1F1E2E;
                                p{
                                    height: calc(95px - (16px * 2));
                                    line-height: 22px;
                                    word-wrap: break-word;
                                    overflow:hidden; //超出的文本隐藏
                                    text-overflow:ellipsis; //溢出用省略号显示
                                }
                            }
                        }
                    }
                    .product-collaborate{
                        margin-left: 53px;
                        padding-top: 11px;
                        p{
                            height: 80px;
                            width: 239px;
                            text-align: center;
                            line-height: 80px;
                            border-radius: 40px;
                            font-size: 28px;
                            cursor: pointer;
                            background-color: #1F1E2E;
                            color: #fff;
                            box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
                            font-family: PingFangSC-Regular, PingFang SC;
                            font-weight: 400;
                        }
                        .product-collaborate-no{
                            // border-bottom: 1px solid #ccc;
                            margin-top: 20px;
                            background-color: #fff;
                            box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
                            color: #1F1E2E;
                        }
                    }
                }
            }
        }
        .task-page{
            text-align: center;
            margin-top: 20px;
        }
    }
}
.personal-info{
    width: 775px !important;
    .ant-modal-content{
        width: 775px;
        height: 848px;
        box-shadow: 0px 0px 44px -24px #7C7879;
        border-radius: 30px;
        .ant-modal-body{
            padding: 0;
            .personal-info-topBackground{
                height: 170px;
                background-color: #7FF15D;
                border-radius: 30px 30px 0 0;
            }
            .personal-info-btmBackground{
                .personal-info-avator{
                    width: 129px;
                    height: 129px;
                    background-color: #554AFF;
                    border-radius: 50%;
                    margin: -65px auto 0;
                }
                .personal-info-name{
                    height: 40px;
                    line-height: 40px;
                    font-size: 28px;
                    font-weight: 500;
                    color: #1F1E2E;
                    letter-spacing: 1px;
                    text-align: center;
                    margin-top: 5px;
                    font-family: PingFangSC-Medium, PingFang SC;
                }
                .personal-info-contact{
                    display: flex;
                    justify-content: center;
                    margin-top: 4px;
                    height: 29px;
                    .personal-info-contact-item{
                        margin-right: 21px;
                    }
                }
                .personal-info-goodSkill{
                    margin-top: 21px;
                    margin-left: 81px;
                    .goodSkill-title{
                        height: 40px;
                        font-size: 28px;
                        font-family: PingFangSC-Regular, PingFang SC;
                        font-weight: 400;
                        color: #6C6C6C;
                        line-height: 40px;
                        letter-spacing: 1px;
                        margin-bottom: 10px;
                    }
                    .goodSkill-item{
                        padding: 0 11px;
                        display: inline-block;
                        height: 26px;
                        line-height: 26px;
                        margin-right: 10px;
                        &:nth-of-type(3n+1){
                            background-color: #FFB1BE;
                        }
                        &:nth-of-type(3n+2){
                            background-color: #FEE7B9;
                        }
                        &:nth-of-type(3n+3){
                            background-color: #C9B1FF;
                        }
                    }
                }
                .personal-info-NFTs{
                    margin: 55px 81px 0 81px;
                    .NFTs-title{
                        height: 40px;
                        font-size: 28px;
                        font-family: PingFangSC-Regular, PingFang SC;
                        font-weight: 400;
                        color: #6C6C6C;
                        line-height: 40px;
                        letter-spacing: 1px;
                        display: flex;
                        justify-content: space-between;
                        >span{
                            font-size: 14px;
                            .anticon-double-right{
                                margin-left: 13px;
                                font-size: 12px;
                            }
                        }
                    }
                    .NFTs-img{
                        margin-top: 10px;
                        display: flex;
                        justify-content: space-between;
                        .NFTs-img-item{
                            width: 189px;
                            height: 297px;
                            background: #FFFFFF;
                            box-shadow: 0px 0px 44px -24px #7C7879;
                            border-radius: 6px;
                            padding: 13px;
                            font-size: 12px;
                            letter-spacing: 1px;
                            .NFTs-img-item-image{
                                width: 164px;
                                height: 174px;
                                border-radius: 12px;
                                background-color: #C9B1FF;
                                margin-bottom: 10px;
                            }
                            .NFTs-img-item-name{
                                height: 17px;
                                font-family: PingFangSC-Semibold, PingFang SC;
                                font-weight: 600;
                                color: #1F1E2E;
                                line-height: 17px;
                            }
                            .NFTs-img-item-desc{
                                height: 17px;
                                font-family: PingFangSC-Regular, PingFang SC;
                                font-weight: 400;
                                color: #818181;
                                line-height: 17px;
                                margin-bottom: 7px;
                            }
                            .NFTs-img-item-price{
                                height: 14px;
                                font-size: 10px;
                                font-family: PingFangSC-Medium, PingFang SC;
                                font-weight: 500;
                                color: #1F1E2E;
                                line-height: 14px;
                                margin-bottom: 19px;
                            }
                            .NFTs-img-item-time{
                                height: 14px;
                                font-size: 10px;
                                font-family: PingFangSC-Regular, PingFang SC;
                                font-weight: 400;
                                color: #818181;
                                line-height: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
    .ant-modal-close-x{
        width: 53px;
        height: 53px;
        background-color: white;
        border-radius: 50%;
        margin: 20px 36px 0 0;
        img{
            margin-top: -5px;
        }
    }
}
.WorkerProject{
    padding-top: 88px;
    width: 1200px;
    margin: 0 auto;

    .worker-title{
        width: 100%;
        height: 207px;
        margin-bottom: 50px;
        background-color: #1F1E2E;
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 26px 46px 13px 61px;
        .title-info{
            .title-info-head{
                font-size: 38px;
                width: 100%;
                height: 53px;
                font-size: 38px;
                font-family: PingFangSC-Semibold, PingFang SC;
                font-weight: 600;
                line-height: 53px;
                // margin: 0;
            }
            .title-info-role{
                font-size: 18px;
                margin-top: 10px;
                height: 25px;
                line-height: 25px;
                font-weight: 400px;
                font-family: PingFangSC-Regular, PingFang SC;
                letter-spacing: 1px;
                margin-bottom: 45px;
                .title-info-role-li{
                    display: inline-block;
                    height: 22px;
                    padding: 2px 14px 3px 14px; 
                    font-size: 12px;
                    line-height: 17px;
                    margin-right: 6px;
                    color: black;
                    font-weight: 400px;
                    font-family: PingFangSC-Regular, PingFang SC;
                    letter-spacing: 1px;
                    &:nth-of-type(3n+1){
                        background-color: #FFB1BE;
                    }
                    &:nth-of-type(3n+2){
                        background-color: #FEE7B9;
                    }
                    &:nth-of-type(3n+3){
                        background-color: #C9B1FF;
                    }
                }
            }
            .title-info-cycle{
                height: 25px;
                font-size: 18px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: #FFFFFF;
                line-height: 25px;
                letter-spacing: 1px;
            }
        }
        .title-cost{
            font-size: 18px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 1px;
            padding-top: 101px;
            .title-cost-line{
                .title-cost-price{
                    height: 67px;
                    font-size: 48px;
                    font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: 500;
                    line-height: 67px;
                    letter-spacing: 4px;
                }
            }
        }
    }
    .worker-steps{
        width: 863px;
        margin-left: 169px;
        font-family: PingFangSC-Regular, PingFang SC;
        // height: 20px;
        .ant-steps{
            // height: 20px;
            // line-height: 20px;
            .ant-steps-item{
                // flex: 1;
                .ant-steps-item-container{
                    // height: 20px;
                }
                .ant-steps-item-icon{
                    width: 20px;
                    height: 20px;
                    background-color: white;
                    padding-bottom: 4px;
                    line-height: 18px;
                    margin-right: 10px;
                    margin-top: 2px;
                    border: 1px solid #949494;
                    .ant-steps-icon{
                        display: inline-block;
                        width: 12px;
                        height: 12px;
                        border-radius: 6px;
                        color: white;
                    }
                    
                }
                .ant-steps-item-content{
                    color: #949494;
                    height: 25px;
                    line-height: 25px;
                    // width: 85px;
                    .ant-steps-item-title{
                        font-size: 18px;
                        height: 25px;
                        line-height: 25px;
                        letter-spacing: 1px;
                        font-weight: 400;
                        // width: 85px;
                    }
                }
            }
            // .ant-steps-item-wait{
            //     padding-left: 37px;
            //     .ant-steps-item-container{
            //         width: 168px;
            //         &:nth-of-type(3){
            //             width: 85px;
            //         }
            //     }
            // }
            // .steps-stage{
            //     width: 205px !important;
            //     margin-right: 60px;
            //     .ant-steps-item-container{
            //         .ant-steps-item-content{
            //             width: 138px;
            //             .ant-steps-item-title{
            //                 width: 138px;
            //             }
            //         }
            //     }
            // }
            // .steps-finish{
            //     width: 122px;
            // }
            .ant-steps-item-active{
                .ant-steps-item-container{
                    .ant-steps-item-icon{
                        border: 1px solid #0052D9;
                        .ant-steps-icon{
                            background-color: white;
                            background-color: #0052D9;
                            color: #0052D9;
                        }
                    }
                    .ant-steps-item-content{
                        .ant-steps-item-title{
                            color: #0052D9;
                            // width: 85px;
                        }
                    }
                }
            }
        }
    }
    .order-tip{
        width: 975px;
        height: 71px;
        background-color: rgba($color: #7FF15D, $alpha: 0.5);
        margin: 33px auto 0;
        padding: 11px 166px 10px;
        .order-tip-text{
            width: 643px;
            height: 50px;
            line-height: 25px;
            font-weight: 400;
            font-size: 18px;
            font-family: PingFangSC-Regular, PingFang SC;
            text-align: center;
            padding: 0 20px;
        }
    }
    .issuer-workerInfo{
        height: 180px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 33px;
        .workerInfo-title{
            font-size: 38px;
            height: 53px;
            line-height: 53px;
            margin-top: 64px;
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            color: #1F1E2E;
            margin-right: 25px;
        }
        .workerInfo-content{
            height: auto;   
            box-shadow: 0px 0px 44px -24px #7C7879;
            display: flex;
            padding: 31px 40px 30px 34px;
            border-radius: 9px;
            .img{
                width: 119px;
                height: 119px;
                border-radius: 50%;
                background-color: chartreuse;
                margin-right: 28px;
            }
            .info{
                display: flex;
                flex-direction: column;
                // justify-content: space-between;
                .title{
                    height: 40px;
                    font-size: 28px;
                    font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: 500;
                    color: #1F1E2E;
                    line-height: 40px;
                    letter-spacing: 1px;
                    margin-bottom: 2px;
                    >span{
                        font-size: 12px;
                        font-family: PingFangSC-Regular, PingFang SC;
                        font-weight: 400;
                        color: #554AFF;
                        text-decoration: underline;
                        margin-left: 17px;
                    }
                }
                .subtitle{
                    height: 17px;
                    font-size: 12px;
                    font-family: PingFangSC-Regular, PingFang SC;
                    font-weight: 400;
                    color: #6C6C6C;
                    line-height: 17px;
                    letter-spacing: 1px;
                    margin-bottom: 31px;
                    >span{
                        display: inline-block;
                        height: 17px;
                        line-height: 17px;
                        color: #000;
                        padding: 0 3px;
                        margin-right: 5px;
                        &:nth-of-type(3n+1){
                            background-color: #FFB1BE;
                        }
                        &:nth-of-type(3n+2){
                            background-color: #FEE7B9;
                        }
                        &:nth-of-type(3n+3){
                            background-color: #C9B1FF;
                        }
                    }
                }
                .boxs{
                    width: 230px;
                    display: flex;
                    .box{
                        display: flex;
                        align-items: center;
                        .icon{
                            margin-right: 5px;
                            width: 29px;
                            height: 29px;
                            border-radius: 50%;
                            margin-right: 21px;
                        }
                    }
                }
            }

        }
    }
    .worker-signInStage{
        width: 100%;
        // height: 500px;
        border: 1px solid #000;
        margin-bottom: 50px;
    }
    .worker-total{
        width: 100%;
        border: 1px solid #000;
        padding: 30px;
        text-align: right;
        margin-bottom: 50px;
        p{
            font-size: 18px;
            color: gray;
            span{
                font-size: 16px;
                color: black;
                margin: 0 3px;
            }
        }
        strong{
            font-size: 22px;
        }
    }
    .tips{
        text-align: center;
        margin-bottom: 5px;
        letter-spacing: 1px;
    }
    .worker-btn{
        width: 100%;
        height: 50px;
        font-size: 20px;
        border-radius: 5px;
    }
    .h50{
        height: 50px;
    }
}

.stage-submit-tip{
    height: 375px;
    width: 528px !important;
    .ant-modal-content{
        width: 528px !important;
        height: 375px;
        border-radius: 30px;
        .ant-modal-body{
            padding: 29px 34px 36px;
            .tip-icon{
                text-align: center;
                padding-bottom: 9px;
                margin-bottom: 18px;
                border-bottom: 1px solid #E2E2E2;
                img{
                    width: 87px;
                    height: 83px;
                    margin-bottom: 3px;
                }
                p{
                    height: 33px;
                    font-size: 24px;
                    font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: 500;
                    color: #1F1E2E;
                    line-height: 33px;
                }
            }
            .tip-text{
                text-align: center;
                font-size: 12px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: #828282;
                line-height: 17px;
                margin-bottom: 67px;
            }
            .ant-btn{
                height: 46px;
                width: 460px;
                background-color: #1F1E2E;
                color: white;
                letter-spacing: 1px;
            }
        }
        .ant-modal-close-x{
            width: 17px;
            height: 17px;
            line-height: 17px;
            margin-top: 22px;
            margin-right: 28px;
            img{
                width: 17px;
                height: 17px;
            }
        }
    }
}

.check-percent{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    .li{
        padding: 5px 15px;
        border-radius: 5px;
        background-color: gainsboro;
        margin-right: 20px;
        cursor: pointer;
        transition: color 0.3s, background-color 0.3s;
    }
    .active{
        background-color: rgb(59, 59, 255);
        color: white;
    }
    .ant-form-item{
        margin: 0;
    }
}