.Userprojects{
    padding-top: 130px;
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .sidbar{
        width: 450px;
        height: 600px;
        border: 2px solid #000;
        padding: 20px;

        .li{
            width: 100%;
            height: 100px;
            border-radius: 10px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-color: gainsboro;
            font-size: 24px;
            font-weight: 800;
            transition: color 0.3, background-color 0.3s;
        }
        .active{
            background-color: black;
            color: white;

        }
    }
    .content{
        width: 900px;
        height: 600px;
        border: 1px solid #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        .li{
            width: 821px;
            height: 140px;
            border: 1px solid #000;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            .li-info{
                .title{

                }
                .role{

                }
                div{
                    p{

                    }
                }
            }
            .li-num{

            }
        }
    }
}
.Applylist{
    padding-top: 88px;
    // padding-bottom: 30px;
    width: 1200px;
    margin: 0 auto;
    .sort{
        background-color: #666;
    }
    .task-info{
        height: 207px;
        display: flex;
        padding: 30px 61px 30px 61px;
        background: #1F1E2E;
        color: #fff;
        .task-demand{
            flex: 8;
            .task-title{
                font-size: 38px;
                margin-bottom: 5px;
                font-family: PingFangSC-Semibold, PingFang SC;
                font-weight: 600;
                color: #FFFFFF;
                height: 53px;
                line-height: 53px;
            }
            .task-skill{
                height: 25px;
                .skill-tip{
                    width: 179px;
                    height: 25px;
                    line-height: 25px;
                    font-size: 18px;
                    font-family: PingFangSC-Regular, PingFang SC;
                    background-color: #1F1E2E;
                    font-style: normal;
                    letter-spacing: 1px;
                    margin-right: 5px;
                }
                span{
                    display: inline-block;
                    margin-right: 6px;
                    font-size: 12px;
                    // padding: 2px 12px 3px 12px;
                    height: 22px;
                    line-height: 22px;
                    padding: 0 12px;
                    color: #000000;
                    &:nth-of-type(3n+1){
                        background-color: #FFB1BE;
                    }
                    &:nth-of-type(3n+2){
                        background-color: #FEE7B9;
                    }
                    &:nth-of-type(3n+3){
                        background-color: #C9B1FF;
                    }
                }
                margin-bottom: 10px;
            }
            .task-cycle{
                margin-top: 40px;
                span{
                    margin: 0 50px 0 10px;
                    font-size: 18px;
                }
            }
        }
        .task-changeInfo,.task-delete,.task-apply-switch{
            margin-top: 10px;
            font-size: 16px;
            line-height: 30px;
            border: 1px solid #ccc;
            height: 30px;
            background-color: rgb(235, 231, 231);
            padding: 0 5px;
            cursor: pointer;
            margin-left: 10px;
        }
        .task-delete{

        }
        .apply-number{
            flex: 2;
            text-align: right;
            font-size: 18px;
            margin-top: 32px;
            .a-number{
                font-size: 60px;
                margin-right: 50px;
                // margin-bottom: 20px;
            }
            .a-tip{
                font-size: 12px;
            }
        }
    }
    // .product-stage{
    //     padding-left: 50px;
    //     padding-right: 50px;
    //     margin-top: 50px;
    //     margin-bottom: 50px;

    // }
    .task-list{
        .clearfix::after,.clearfix::before{
            content: "";
            display: block;
            height: 0px;
            visibility: hidden;
            clear: both;
        }
        padding: 56px 37px 115px 61px;
        margin-top: 24px;
        margin-bottom: 50px;
        box-shadow: 0px 0px 44px -24px #7C7879;
        border-radius: 30px;
        h4{
            font-size: 38px;
        }
        .product-list{
            min-height: 600px;
            ul{
                list-style: none;
                padding: 0;
                li{
                    box-shadow: 0px 0px 44px -24px #7C7879;
                    border-radius: 9px;
                    width: 1102px;
                    height: 285px;
                    padding: 31px 27px 15px 34px;
                    display: flex;
                    margin-bottom: 38px;
                    .product-list-item{
                        // height: 200px;
                        // margin-right: 20px;
                        // display: flex;
                        width: 750px;
                        padding-bottom: 15px;
                        // justify-content: space-between;
                        .product-list-info{
                            display: flex;
                            .product-img{
                                height: 119px;
                                width: 119px;
                                background-color: #1F1E2E;
                                border-radius: 50%;
                                // flex: 1.5;
                                // position: relative;
                            }
                            .product-info{
                                // flex: 3;
                                // width: 300px;
                                // height: 150px;
                                margin-left: 28px;
                                // background-color: bisque;
                                .applicant-name{
                                    height: 40px;
                                    font-size: 28px;
                                    font-family: PingFangSC-Medium, PingFang SC;
                                    font-weight: 500;
                                    color: #1F1E2E;
                                    line-height: 40px;
                                    letter-spacing: 1px;
                                    span{
                                        height: 17px;
                                        font-size: 12px;
                                        font-family: PingFangSC-Regular, PingFang SC;
                                        font-weight: 400;
                                        color: #554AFF;
                                        line-height: 17px;
                                        margin-left: 17px;
                                        text-decoration: underline solid;
                                        cursor: pointer;
                                    }
                                }
                                .applicant-skill{
                                    .good-skill{
                                        font-size: 12px;
                                        line-height: 17px;
                                        height: 17px;
                                        font-style: normal;
                                        color: #6C6C6C;
                                    }
                                    span{
                                        display: inline-block;
                                        padding: 0 3px;
                                        margin-right: 5px;
                                        &:nth-of-type(3n+1){
                                            background-color: #FFB1BE;
                                        }
                                        &:nth-of-type(3n+2){
                                            background-color: #FEE7B9;
                                        }
                                        &:nth-of-type(3n+3){
                                            background-color: #C9B1FF;
                                        }
                                    }
                                }
                                .applicant-info{
                                    span{
                                        margin-right: 40px;
                                        cursor: pointer;
                                        color: blue;
                                    }
                                    margin-top: 10px;
                                    margin-bottom: 10px;
                                }
                                .applicant-mess{
                                    cursor: pointer;
                                    margin-top: 25px;
                                    .applicant-mess-item{
                                        margin-right: 21px;
                                    }
                                    .skype{
                                        color: #019DD8;
                                        font-size: 26px;
                                    }
                                    .telegram{
                                        color: #2BA2DB;
                                    }
                                    .weixin{
                                        color: #00C800;
                                    }
                                    .facebook{
                                        color: #3379EA;
                                    }
                                }
                            }
                            .product-apply{
                                // width: 180px;
                                // flex: 1.5;
                                // height: 150px;
                                flex: 1;
                                // background-color: blueviolet;
                                // margin-left: 480px;
                                text-align: right;
                                // margin-left: 172px;
                                .product-apply-price{
                                    width: 98px;
                                    height: 40px;
                                    font-size: 28px;
                                    font-family: PingFangSC-Medium, PingFang SC;
                                    font-weight: 500;
                                    color: #1F1E2E;
                                    line-height: 40px;
                                    letter-spacing: 2px;
                                }
                                .product-apply-he{
                                    padding-right: 10px;
                                    font-size: 12px;
                                    color: #6C6C6C;
                                }
                                .product-apply-time{
                                    font-size: 16px;
                                    margin-top: 50px;
                                    .product-apply-time-icon{
                                        svg{
                                            width: 12px;
                                            height: 12px;
                                            color: #828282;
                                        }
                                    }
                                    .product-apply-time-text{
                                        // display: inline-block;
                                        margin-left: 6px;
                                        font-size: 12px;
                                        margin-top: 20px;
                                        color: #828282;
                                    }
                                }
                            }
                        }
                        
                        .product-apply-desc{
                            span{
                                display: inline-block;
                                width: 0;
                                height: 0;
                                border: 16px solid #F1F1F1;
                                border-top: 15px solid transparent;
                                border-right: 15px solid transparent;
                                margin-left: 60px;
                                margin-top: -5px;
                            }
                            .product-apply-desc-text{
                                height: 95px;
                                background-color: #F1F1F1;
                                margin-top: -15px;
                                padding: 16px;
                                font-size: 16px;
                                color: #1F1E2E;
                            }
                        }
                    }
                    .product-collaborate{
                        margin-left: 53px;
                        padding-top: 11px;
                        p{
                            height: 80px;
                            width: 239px;
                            text-align: center;
                            line-height: 80px;
                            border-radius: 40px;
                            font-size: 28px;
                            cursor: pointer;
                            background-color: #1F1E2E;
                            color: #fff;
                            box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
                            font-family: PingFangSC-Regular, PingFang SC;
                            font-weight: 400;
                        }
                        .product-collaborate-no{
                            // border-bottom: 1px solid #ccc;
                            margin-top: 20px;
                            background-color: #fff;
                            box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
                            color: #1F1E2E;
                        }
                    }
                }
            }
        }
        .task-page{
            text-align: center;
            margin-top: 20px;
        }
    }
}
.WorkerProject{
    padding-top: 130px;
    width: 1400px;
    margin: 0 auto;

    .worker-title{
        width: 100%;
        height: 150px;
        margin-bottom: 50px;
        border: 1px solid #000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    .worker-steps{
        margin-bottom: 50px;
    }
    .issuer-workerInfo{
        border: 1px solid #000;
        height: 250px;
        margin-bottom: 50px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .workerInfo-title{
            font-size: 24px;
        }
        .workerInfo-content{
            height: auto;
            border: 1px solid #000;
            padding: 20px;
            display: flex;
            .img{
                width: 120px;
                height: 120px;
                border-radius: 50%;
                background-color: chartreuse;
                margin-right: 30px;
            }
            .info{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .title{
                    font-size: 20px;
                }
                .subtitle{
                    color: gray;
                }
                .detail{
                    color: #37a0fc;
                    cursor: pointer;
                }
                .boxs{
                    width: 230px;
                    display: flex;
                    justify-content: space-between;
                    .box{
                        display: flex;
                        align-items: center;
                        .icon{
                            margin-right: 5px;
                            width: 20px;
                            height: 20px;
                            background-color: greenyellow;
                            border-radius: 50%;
                        }
                    }
                }
            }

        }
    }
    .worker-signInStage{
        width: 100%;
        // height: 500px;
        border: 1px solid #000;
        margin-bottom: 50px;
    }
    .worker-total{
        width: 100%;
        border: 1px solid #000;
        padding: 30px;
        text-align: right;
        margin-bottom: 50px;
        p{
            font-size: 18px;
            color: gray;
            span{
                font-size: 16px;
                color: black;
                margin: 0 3px;
            }
        }
        strong{
            font-size: 22px;
        }
    }
    .tips{
        text-align: center;
        margin-bottom: 5px;
        letter-spacing: 1px;
    }
    .worker-btn{
        width: 100%;
        height: 50px;
        font-size: 20px;
        border-radius: 5px;
    }
    .h50{
        height: 50px;
    }
}
.check-percent{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    .li{
        padding: 5px 15px;
        border-radius: 5px;
        background-color: gainsboro;
        margin-right: 20px;
        cursor: pointer;
        transition: color 0.3s, background-color 0.3s;
    }
    .active{
        background-color: rgb(59, 59, 255);
        color: white;
    }
    .ant-form-item{
        margin: 0;
    }
}