.Panel_stageInfo, .Stage_info{
    .stageInfo-title{
        box-sizing: content-box;
        padding: 20px 30px;
        font-size: 30px;
        font-weight: 500;
        border-bottom: 1px solid #000;
    }
    .stageInfo-subtitle{
        box-sizing: content-box;
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #000;
        .subtitle-check{
            font-size: 16px;
            color: rgb(40, 40, 40);
            .check-span{
                color: gray;
                font-size: 14px;
                margin-left: 20px;
            }
        }
        .mb10{
            margin-bottom: 10px;
        }
    }
    .stageInfo-signIn{
        .signIn-empty{
            width: 100%;
            min-height: 500px;
            padding: 50px 30px;
            display: flex;
            flex-direction: column;
            .empty-tips{
                box-sizing: content-box;
                padding: 20px 0 ;
                background-color: rgb(230, 230, 230);
                text-align: center;
                margin-bottom: 150px;
            }
            .empty-btn{
                margin: 0 auto;
            }
        }
        .signIn-list{
            position: relative;
            .add{
                cursor: pointer;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 111;
                font-size: 20px;
                right: 20px;
                top: 10px;
                color: #1890FF;
            }
            .btns{
                // box-sizing: content-box;
                margin: 20px 0;
                padding: 0 30px;
                display: flex;
                justify-content: flex-end;
                .btn{
                    margin-left: 20px;
                }
            }
        }
    }
    .stageInfo-inspection{
        padding: 50px;
        background-color: rgb(250, 250, 250);
    }
}
.Stage_inspection{
    border: 1px solid #000;
    margin-bottom: 30px;
    position: relative;
    .inspection-info{
        position: absolute;
        width: 180px;
        right: 20px;
        top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        p{
            color: #1890FF;
            cursor: pointer;
            &:last-child{
                color: rgb(255, 74, 74);
            }
        }
    }
    .inspection-nav{
        padding: 20px;
        font-size: 20px;
        font-weight: 500;
        border-bottom: 1px solid #000;
        background-color: rgb(238, 238, 238);
        .line{
            background-color: rgb(209, 209, 209);
            height: 20px;
            width: 2px;
        }
    }
    .inspection-content{
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        background-color: white;
        position: relative;
        .box{
            width: 50%;
            margin-bottom: 20px;
            p{
                font-size: 18px;
                &:first-child{
                    font-weight: 800;
                }
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
        .btns{
            width: 250px;
            display: flex;
            justify-content: space-between;
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    }
}

.comfirm-task{
    width: 900px;
    height: 1045px;
    .modal-title{
        text-align: center;
    }
}


