@import '~antd/dist/antd.css';
html,
body {
  padding: 0;
  margin: 0;
  font-family: PingFang SC, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
p{
  margin: 0;
}

* {
  box-sizing: border-box;
}

.Skeleton-task{
  min-height: 800px;
}

/* 检测用户主题是否为深色 ==> prefers-color-scheme: dark */
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
