.Index{
    width: 100%;
    .font-Title{
        font-size: 48px;
        font-weight: 800;
    }
    .Index-title{
        margin: 150px auto 38px;
        display: flex;
        position: relative;
        .img{
            width: 84px;
            height: 84px;
            background-color: yellowgreen;
            margin-right: 37px;
        }
        .font-Title{
            color: #1F1E2E;
            font-size: 48px;
            letter-spacing: 1px;
            line-height: 84px;
            font-weight: 600;
            font-family: PingFangSC-Semibold, PingFang SC;
        }
        .point{
            width: 5px;
            height: 5px;
            background-color: #C91D3B;
            position: absolute;
            right: -10px;
            bottom: 25px;
        }
    }
    .banner{
        width: 100%;
        height: 820px;
        // background-color: skyblue;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        .banner-title{
            width: 794px;
            height: 436px;
            margin-left: 5.73%;
            margin-top: 143px;
            font-size: 92px;
            line-height: 109px;
            letter-spacing: 8px;
            color: #201E2F;
            font-family: Arial-BoldMT, Arial;
        }
        .banner-info{
            width: 613px;
            height: 90px;
            margin-left: 5.73%;
            margin-top: 76px;
            display: flex;
            justify-content: space-between;
            .btn{
                width: 280px;
                height: 90px;
                border-radius: 45px;
                border: 2px solid #1F1E2E;
                box-shadow: 0px 0px 19px -5px #898989;
                font-size: 28px;
                letter-spacing: 2.66px;
                font-family: PingFangSC-Regular, PingFang SC;
                &:first-child{
                    background-color: #1F1E2E;
                    color: white;
                }
            }
        }
    }   
    .data{
        width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;        
        .data-li{
            width: 375px;
            color: #1F1E2E;
            &:nth-child(2){
                margin-top: 10px;
            }
            .img{
                width: 61px;
                height: 61px;
                background-color: yellowgreen;
                margin-bottom: 16px;
            }
            .title{
                font-family: PingFangSC-Medium, PingFang SC;
                letter-spacing: 2.66px;
                font-size: 28px;
                margin-bottom: 6px;
            }
            .text{
                font-size: 18px;
                font-family: PingFangSC-Regular, PingFang SC;
                line-height: 26px;
                letter-spacing: 1.71px;
            }
        }
    }
    .ucan{
        display: flex;
        flex-direction: column;
        align-items: center;
        .ucan-list{
            width: 1200px;
            display: flex;
            justify-content: space-between;
            .list-li{
                width: 580px;
                height: 731px;
                box-shadow: 0px 0px 44px -24px #7C7879;
                border-radius: 30px;
                background-color: white;
                .li-info{
                    margin-top: 74px;
                    color: #1F1E2E;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    .img{
                        width: 105px;
                        height: 105px;
                        background-color: yellowgreen;
                    }
                    .title{
                        margin: 35px auto 25px;
                        font-size: 26px;
                        font-weight: 600;
                        font-family: PingFangSC-Semibold, PingFang SC;
                        letter-spacing: 2.47px;
                    }
                    .content{
                        width: 437px;
                        height: 176px;
                        font-size: 18px;
                        margin-bottom: 93px;
                        line-height: 26px;
                        letter-spacing: 1.71px;
                        font-family: PingFangSC-Regular, PingFang SC;
                        p{
                            margin-bottom: 15px;
                        }
                    }
                    .btn{
                        width: 218px;
                        height: 62px;
                        border-radius: 31px;
                        background: #1F1E2E;

                        color: white;
                        font-family: PingFangSC-Medium, PingFang SC;
                        font-size: 26px;
                        font-weight: 500;
                        letter-spacing: 2.47px;
                    }
                }
            }
        }
        
    }
    .example{
        width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .example-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .list-li{
                width: 291px;
                height: 411px;
                background: #FFFFFF;
                box-shadow: 0px 0px 44px -24px #7C7879;
                border-radius: 30px;
                padding: 18px 19px 0;
                margin-bottom: 25px;
                .img{
                    width: 253px;
                    height: 241px;
                    border-radius: 12px;
                    background: greenyellow;
                }
                .info{
                    margin-top: 30px;
                    .title{
                        font-size: 16px;
                        color: #1F1E2E;
                        font-weight: 600;
                        font-family: PingFangSC-Semibold, PingFang SC;
                        letter-spacing: 1.52px;
                        margin-bottom: 7px;
                        span{
                            padding: 1px 10px;
                            border-radius: 2px;
                            background: #D8D8D8;
                            color: white;
                            font-family: PingFangSC-Regular, PingFang SC;
                            font-size: 10px;
                            letter-spacing: 0.95px;
                            margin-left: 3px;
                        }
                    }
                    .content{
                        font-size: 12px;
                        font-family: PingFangSC-Regular, PingFang SC;
                        color: #818181;
                        line-height: 17px;
                        letter-spacing: 1.14px;
                        margin-bottom: 15px;
                    }
                    .more{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .time{
                            font-size: 10px;
                            font-family: PingFangSC-Regular, PingFang SC;
                            color: #818181;
                            letter-spacing: 0.95px;
                        }
                        .btn{
                            width: 112px;
                            height: 32px;
                            background: #1F1E2E;
                            border-radius: 31px;
                            font-size: 12px;
                            font-family: PingFangSC-Medium, PingFang SC;
                            font-weight: 500;
                            color: #FFFFFF;
                            letter-spacing: 1.14px;
                        }
                    }
                }
            }
        }
    }
    .example{
        display: flex;
        flex-direction: column;
        align-items: center;
        .example-title{
            margin: 120px auto 50px;
        }
        .example-list{
            width: 100%;
            display: flex;
            justify-content: space-between;
            .example-li{
                width: 304px;
                height: 471px;
                display: flex;
                flex-direction: column;
                .li-img{
                    width: 304px;
                    height: 304px;
                    background-color: yellowgreen;
                }
                .li-info{
                    height: 167px;
                    text-align: center;
                    .title{
                        font-weight: 500;
                        font-size: 18px;
                        margin: 16px auto;
                    }
                    .subtitle{
                        width: 261px;
                        margin: 0 auto;
                        color: #999999;
                        margin-bottom: 10px;
                    }
                    .btn{
                         width: 234px;
                         height: 48px;
                    }
                }
            }
        }
    }
    .h100{
        height: 100px;
    }
}