$pfR: PingFangSC-Regular, PingFang SC, Microsoft Yahei;


.prolongModal{
    height: 414px;
    padding: 0;
    border-radius: 30px;
    overflow: hidden;
    .ant-modal-content{
        height: 100%;
    }
    

    .img{
        width: 87px;
        height: 83px;
        margin: 0 auto;
        position: relative;
    }
    .title{
        margin-top: 10px;
        margin-bottom: 13px;
        text-align: center;
        font-size: 24px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #1F1E2E;
        line-height: 33px;
        letter-spacing: 0.86px;
    }
    .inner{
        padding-bottom: 25px;
        border-bottom: 1px solid #E2E2E2;
        .inner-title{
            font-size: 12px;
            font-family: PingFangSC-Regular, PingFang SC;
            color: #1F1E2E;
            line-height: 17px;
            letter-spacing: 0.43px;
        }
        .flex{
            margin-top: 5px;
            display: flex;
            align-items: center;
            .input, input{
                width: 372px;
                height: 45px;
            }
            .input{
                border-radius: 10px;
                border: 1px solid #979797;
            }
            input, p{
                font-size: 18px;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: #1F1E2E;
                line-height: 25px;
                letter-spacing: 1px;
            }
            p{
                margin-left: 25px;
            }
        }
    }
    .tips{
        margin-top: 20px;
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        color: #828282;
        line-height: 17px;
        letter-spacing: 0.43px;
        text-align: center;
    }
    .btns{
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        button{
            width: 206px;
            height: 46px;
            border: none;
            border-radius: 4px;

            font-size: 16px;
            font-family: PingFangSC-Regular, PingFang SC;
            color: white;
            line-height: 22px;
            letter-spacing: 0.57px;
            &:first-child{
                background-color: #ACACAC;
            }
            &:last-child{
                background-color: #1F1E2E;
            }
        }
    }
}
.deliveryModal{
    height: 480px;
    .inner .inner-title{
        color: #828282;
    }
    .inner{
        border: none;
        padding-bottom: 6px;
    }
    .ant-input{
        width: 100%;
        height: 98px;
        margin-top: 10px;
        border-radius: 10px;
        border: 1px solid #979797;
    }
    .item-upload{

        .ant-btn-default{
            width: 100%;
            height: 45px;
            overflow: hidden;
            border: 1px dashed #979797;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .img{
            width: 21px;
            height: 17px;
            margin-right: 7px;
            background-color: yellowgreen;
        }
        p{
            width: 405px;
            font-size: 12px;
            font-family: $pfR;
            color: #6C6C6C;
            letter-spacing: 0.43px;
            display: inline-block;
            text-align: left;
        }
        // 删除图片按钮
        .ant-upload-list-item-card-actions{
            position: absolute;
            top: 5px;
            right: 5px;
            .anticon-delete{
                font-size: 20px;
            }
        }

        // 预览
        .ant-upload-list-picture .ant-upload-list-item, .ant-upload-list-picture-card .ant-upload-list-item{
            height: 35px;
            .ant-upload-list-item-thumbnail{
                width: 35px;
                height: 35px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}