.Header{
    width: 100%;
    position: fixed;
    z-index: 999;
    .content{
        width: 100%;
        height: 68px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        position: relative;
        box-shadow: 0px 0px 44px -19px rgba(0,0,0,0.5);
        transition: background-color 0.3s;
        .header-logo{
            width: 230px;
            height: 80px;
            cursor: pointer;
            margin-left: 4.5%;
            position: relative;
        }
        .header-nav{
            width: 465px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 6.56%;
            font-family: PingFangSC-Regular, PingFang SC;
            .li{
                font-size: 18px;
                font-weight: 400;
                color: #1F1E2E;
                position: relative;
                cursor: pointer;
                transition: color 0.3s;
                letter-spacing: 1px;
                height: 25px;
                line-height: 25px;
                .line{
                    // position: absolute;
                    left: 10%;
                    width: 0%;
                    margin: 0 auto;
                    height: 5px;
                    border-radius: 6px;
                    background-color: #D13B4E;
                    transition: width 0.3s;
                }
                &:hover{
                    color: #D13B4E;
                    .line{
                        width: 100%;
                    }
                }
            }
            .li-active{
                color: #D13B4E !important;
                font-weight: 400;
                .line{
                    width: 100% !important;
                }
            }
        }
        .header-info{
            width: 252px;
            position: absolute;
            right: 8.6%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: greenyellow;
                cursor: pointer;
            }
            .btn{
                width: 157px;
                height: 50px;
                border-radius: 25px;
                background-color: #1F1E2E;
                color: white;
                font-size: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 200;
            }
        }
    }
    .scroll{
        background-color: rgba(255, 255, 255, 0.94);
    }
}

.connect{
    .ant-modal-content{
        width: 379px;
        height: 220px;
        border-radius: 30px;
        .ant-modal-header{
            border-radius: 30px 30px 0 0;
            height: 63px;
            background-color: #1F1E2E;
            box-shadow: 0px 0px 44px -24px #000000;
            padding: 15px 24px 15px 122px;
            .ant-modal-title{
                height: 33px;
                font-size: 24px;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: #FFFFFF;
                line-height: 33px;
                text-align: left;
                p{
                    .anticon-close{
                        margin-left: 80px;
                        display: inline-block;
                        font-size: 17px;
                        color: #979797;
                        cursor: pointer;
                    }
                }
            }
        }
        .ant-modal-body{
            display: flex;
            padding: 0;
            // padding: 36px 0 50px 51px;
            box-sizing: border-box;
            padding: 36px 50px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .ant-btn{
                height: 76px;
                display: inline-block;
                padding: 0;
                border: none;
                .connect-text{
                    height: 22px;
                    font-size: 16px;
                    font-family: PingFangSC-Regular, PingFang SC;
                    font-weight: 400;
                    color: #1F1E2E;
                    line-height: 22px;
                    margin-top: 8px;
                }
                &:nth-of-type(1){
                    width: 85px;
                    img{
                        width: 44px;
                        height: 41px;
                    }
                }
                &:nth-of-type(2){
                    width: 120px;
                    img{
                        width: 52px;
                        height: 34px;
                    }
                }
                
            }
        }
    }
}

.MyInfo{
    margin: 0 auto 0;
    width: 1080px;
    height: 510px;
    padding: 50px 40px;
    border: 1px solid #E4E4E4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .myInfo-top{
        height: 128px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .top{
            display: flex;
            .img{
                width: 128px;
                height: 128px;
                border-radius: 50%;
                border: 8px solid #000;
                margin-right: 40px;
            }
            .info{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 12px 0;
                p{
                    font-weight: 500;
                    font-size: 32px;
                }
                .li{
                    font-size: 24px;
                    width: 116px;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
        .btn{
            width: 227px;
            height: 54px;
            background-color: #EA1B48;
            color: white;
            border-radius: 4px;
        }
    }
    .myInfo-bottom{
        height: 208px;
        padding: 25px;
        background-color: #FAFAFA;
        position: relative;
        display: flex;
        align-items: center;
        // justify-content: center;
        .btn{
            width: 206px;
            height: 45px;
            text-align: center;
            border-radius: 4px;
            border: 1px solid #797979;
            margin-left: 380px;
        }
        .role-list{
            display: inline-block;
            // flex: 1;
            padding: 13px 25px;
            margin-right: 20px;
            font-size: 16px;
            background-color: #D13B4E;
            color: #E4E4E4;
            border-radius: 5px;
            &:nth-of-type(4n+1){
                background-color: #FFEDED;
                color: #E54444;
            }
            &:nth-of-type(4n+2){
                background-color: #DBFCE8;
                color: #32DA74;
            }
            &:nth-of-type(4n+3){
                background-color: #E0EBFF;
                color: #467BE4;
            }
            &:nth-of-type(4n+4){
                background-color: #FDF3D0;
                color: #EDC22E;
            }
        }
        .bg{
            font-size: 24px;
            font-weight: 500;
            color: rgb(172, 172, 172);
            position: absolute;
            left: 25px;
            top: 25px;
        }
    }
}