.Header{
    width: 100%;
    position: fixed;
    z-index: 999;
    .content{
        width: 100%;
        height: 100px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        position: relative;
        // background-color: aquamarine;
        .header-logo{
            width: 230px;
            height: 80px;
            // background-color: black;
            cursor: pointer;
            margin-left: 4.5%;
            position: relative;
        }
        .header-nav{
            width: 465px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 6.56%;
            .li{
                font-size: 24px;
                color: #1F1E2E;
                position: relative;
                cursor: pointer;
                transition: color 0.3s;
                letter-spacing: 2.28px;
                .line{
                    // position: absolute;
                    left: 10%;
                    width: 0%;
                    margin: 0 auto;
                    height: 5px;
                    border-radius: 6px;
                    background-color: #D13B4E;
                    transition: width 0.3s;
                }
                &:hover{
                    color: #D13B4E;
                    .line{
                        width: 100%;
                    }
                }
            }
            .li-active{
                color: #D13B4E !important;
                font-weight: 500;
                .line{
                    width: 100% !important;
                }
            }
        }
        .header-info{
            width: 252px;
            position: absolute;
            right: 8.6%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: greenyellow;
                cursor: pointer;
            }
            .btn{
                width: 157px;
                height: 50px;
                border-radius: 25px;
                background-color: #1F1E2E;
                color: white;
                font-size: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 200;
            }
        }
    }
}
.MyInfo{
    margin: 100px auto 0;
    width: 1080px;
    height: 510px;
    padding: 50px 40px;
    border: 1px solid #E4E4E4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .myInfo-top{
        height: 128px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .top{
            display: flex;
            .img{
                width: 128px;
                height: 128px;
                border-radius: 50%;
                border: 8px solid #000;
                margin-right: 40px;
            }
            .info{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 12px 0;
                p{
                    font-weight: 500;
                    font-size: 32px;
                }
                .li{
                    font-size: 24px;
                    width: 116px;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
        .btn{
            width: 227px;
            height: 54px;
            background-color: #EA1B48;
            color: white;
            border-radius: 4px;
        }
    }
    .myInfo-bottom{
        height: 208px;
        padding: 25px;
        background-color: #FAFAFA;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .btn{
            width: 206px;
            height: 45px;
            text-align: center;
            border-radius: 4px;
            border: 1px solid #797979;
        }
        .bg{
            font-size: 24px;
            font-weight: 500;
            color: rgb(172, 172, 172);
            position: absolute;
            left: 25px;
            top: 25px;
        }
    }
}