.Publish{
    width: 1280px;
    margin: 0 auto;

    .banner{
        height: 240px;
        background-color: yellowgreen;
        .banner-content{
            width: 800px;
            height: 100%;
            margin: 0 auto;
            padding: 81px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .content-title{
                font-size: 32px;
                font-weight: 800;
            }
            .content-subtitle{
                color: #595959;
                font-size: 16px;
            }
        }
    }
    .container{
        width: 800px;
        margin: -44px auto 0;
        padding: 44px 44px 30px;
        background-color: white;
        z-index: 222;
        border: 1px solid #777777;
        .container-li{
            margin-bottom: 21px;
            .li-title{
                font-size: 16px;
                font-weight: 500;
                color: #595959;
                margin-bottom: 12px;
            }
            .inner{
                min-height: 50px;
                input{
                    min-height: 50px;
                }
            }
            .h150{
                height: 150px;
            }
            .w100{
                width: 100%;
                .ant-select-selector{
                    height: 50px;
                    display: flex;
                    align-items: center;
                }
            }
            .multiSelect{
                border: 1px solid #d9d9d9;
                height: 50px;
                cursor: pointer;
            }
        }
        .container-btn{
            width: 100%;
            height: 50px;
        }
    }
    .mb80{
        height: 80px;
    }
}

.modal{
    width: 710px !important;
    .ant-modal-header{
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F8F8F8;
        .ant-modal-title{
            font-size: 26px;
        }
    }
    .ant-modal-body{
        padding: 85px 70px 30px;
        .title{
            font-size: 16px !important;
            margin-bottom: 35px;
        }
        .list{
            display: flex;
            flex-wrap: wrap;
            .li{
                height: 50px;
                line-height: 50px;
                border-radius: 4px;
                margin-bottom: 14px;
                margin-right: 20px;
                padding: 0 15px;
                background-color: #eeeeee;
            }
        }
        .btn{
            width: 470px;
            height: 60px;
            margin-left: calc((570px - 470px) / 2);
            margin-top: 215px;
            font-size: 20px;
        }
    }
    
}