.Publish{
    // width: 1280px;
    margin: 0 auto;
    .h100{
        width: 100%;
        height: 100px;
        background-color: white;
    }
    .banner{
        height: 270px;
        background-color: #1F1E2E;
        .banner-content{
            width: 1000px;
            height: 100%;
            margin: 0 auto;
            padding: 0 50px;
            display: flex;
            flex-direction: column;
            color: white;

            .content-title{
                font-size: 48px;
                font-weight: 600;
                margin-top: 42px;
                margin-bottom: 7px;
                font-family: PingFangSC-Semibold, PingFang SC;
                line-height: 67px;
                letter-spacing: 1px;
            }
            .content-subtitle{
                font-family: PingFangSC-Regular, PingFang SC;
                font-size: 18px;
                letter-spacing: 1px;
                line-height: 25px;
            }
        }
    }
    .container{
        width: 1000px;
        margin: -87px auto 0;
        padding: 38px 50px 89px;
        background-color: white;
        z-index: 222;
        border-radius: 30px;
        box-shadow: 0px 0px 44px -24px #7C7879;
        .container-li{
            margin-bottom: 53px;
            &:nth-child(3){
                height: auto !important;
                .ant-upload-list{
                    width: 644px;
                }
            }
            .ant-input{
                font-size: 18px;
                color: #1F1E2E;
                border-color: #979797;
            }
            &:nth-child(2){
                margin-bottom: 10px;
            }
            &:nth-child(3){
                padding-top: 0;
                height: 68px;
                .li-title{
                    height: 0;
                }
            }
            &:nth-child(4),&:nth-child(5){
                margin-bottom: calc(58px - 17px);
            }
            &:nth-child(5){
                .inner{
                    border-color: #979797;
                }
                
            }
            &:nth-child(6){
                .ant-select-arrow{
                    width: 13px;
                    height: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                    color: #1F1E2E;
                    right: 27px;
                }
                .ant-input-number-handler-wrap{
                    right: -20px;
                }
                .ant-input-number-input-wrap{
                    width: 279px;
                    height: 53px;
                    .ant-input-number{
                        
                    }
                }
                .inner{
                    width: 279px;
                    height: 53px;
                    input{
                        height: 53px;
                        line-height: 53px;
                        border: 1px solid #979797;
                        border-radius: 10px;
                    }
                    
                }
                .ant-input-number{
                    border: none;
                }
                .ant-input-number-wrapper{
                    display: flex;
                    align-items: center;
                    
                }
                .ant-input-number-group-addon{
                    position: relative;
                    left: 33px;
                    margin-top: 5px;
                    border: none;
                    width: 136px;
                    .ant-select{
                        width: 136px;
                        border-radius: 10px;
                        border: 1px solid #1F1E2E;
                        font-size: 20px !important;
                        background-color: white;
                        overflow: hidden;
                    }
                }
            }
            &:nth-child(7){
                .ant-select{
                    width: 279px;
                    
                }
                .ant-select-selector{
                    border-radius: 10px;
                    border: 1px solid #979797;
                    overflow: hidden;
                }
            }
            .ant-upload{
                border: none;
                button{
                    width: 644px;
                    height: 68px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #999999;
                    .anticon-folder-add{
                        font-size: 32px;
                        color: #777777;
                    }
                }
                .ant-btn{
                    border: none;
                    border: 1px dashed #979797;
                }
            }
            .ant-upload-list{
                width: 1000px;
            }
            .li-title{
                font-size: 24px;
                height: 33px;
                line-height: 33px;
                font-weight: 500;
                font-family: PingFangSC-Medium, PingFang SC;
                color: #1F1E2E;
                margin-bottom: 13px;
                letter-spacing: 1px;
            }
            .inner{
                width: 900px;
                height: 45px;
                border-radius: 10px;
                box-shadow: none;
                input{
                    height: 53px;
                    font-size: 18px;
                    color: #1F1E2E;
                }
            }

            .err{
                width: 900px;
                height: 45px;
                border-radius: 10px;
                box-shadow: none;
                border-color: red;
                input{
                    height: 53px;
                    font-size: 18px;
                    color: #1F1E2E;
                }
                .ant-select-selector{
                    border-color: red !important;
                }
            }
            
            .h150{
                height: 110px;
            }
            
            .w100{
                width: 279px;
                height: 53px;
                margin-right: 13px;
                .ant-select-selector{
                    height: 53px;
                    font-size: 20px;
                    border: 1px solid #1F1E2E;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    box-shadow: none;
                }
                .ant-select-arrow{
                    font-weight: 900;
                    margin-right: -12px;
                    margin-top: -3px;
                }
            }

            .eth-select{
                .ant-input-number-group-addon{
                    border: none;
                }
                .ant-select-selector{
                    width: 136px;
                    height: 53px;
                    padding-right: 30px;
                    color: #1F1E2E;
                    font-size: 20px;
                    // padding-right: 20px;
                    .ant-select-selection-item{
                        padding-right: 0;
                    }
                }
                .ant-select-arrow{
                    color: #1F1E2E;
                    font-size: 14px;
                    padding-right: 20px;
                    margin-right: 0;
                    margin-top: -5px;
                }
            }
            
            .multiSelect{
                .list{
                    width: 700px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    .li{
                        display: flex;
                        align-items: center;
                        height: 53px;
                        margin-right: 24px;
                        margin-bottom: 17px;
                        padding: 0 18px;
                        background-color: #ffffff;
                        cursor: pointer;
                        // border: 1px solid #1F1E2E;
                        background-color: #EFEFEF;
                        transition: color 0.3s, background-color 0.3s;
                        font-size: 18px;
                        font-family: PingFangSC-Medium, PingFang SC;
                        font-weight: 500;
                        color: #1F1E2E;
                        letter-spacing: 1.73px;
                        border-radius: 10px;
                    }
                    .active{
                        background-color: black;
                        color: white;
                    }
                }
            }
        }
        .container-btn{
            width: 280px;
            margin-left: calc((100% - 280px) / 2);
            height: 90px;
            box-shadow: 0px 0px 19px -5px #898989;
            background: #1F1E2E;
            border-radius: 45px;
            font-size: 28px;
            font-family: PingFangSC-Regular, PingFang SC;
            letter-spacing: 2.66px;
            color: white;
            font-weight: 400;

        }
    }
    .mb80{
        height: 80px;
    }
}

