.OrderDetail{
    width: 100%;
    min-height: 100vh;
    padding: 100px 20% 0;
    margin: 0;
    background-color: #f0f2f5;
    // margin-bottom: 100px;
    padding-bottom: 100px;
}
.StageContainer{
    background-color: white;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    .title{
        button{
            margin-bottom: 20px;
            margin-right: 20px;
        }
    }
    .list{
        
        .box{
            border: 1px solid rgb(215, 215, 215);
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            .nav{
                background-color: #f0f2f5;
                color: #808080;
                padding: 15px;
                font-weight: 600;
                font-size: 17px;
                letter-spacing: 1px;
            }
            .panel{
                padding: 10px;
                display: flex;
                flex-wrap: wrap;
                div{
                    width: 50%;
                    margin-bottom: 10px;
                    p{
                        color: #808080;
                        margin-right: 20px;
                    }
                }
            }
            .bottom{
                padding: 15px;
                border-top: 1px solid rgb(215, 215, 215);
                display: flex;
                justify-content: space-between;
                align-items: center;
                .l{
                    
                }
                .r{
                    button{
                        margin-left: 30px;
                    }
                }
            }
        }
    }
}