._li {
  width: 84px;
  height: 64px;
  text-align: center;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  &:hover {
    color: skyblue;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 30px;
  height: 64px;
  box-shadow: 0 2px 4px 1px rgb(230, 230, 230);
  font-size: 14px;
  .left {
    display: flex;
    justify-content: space-between;
    .logo {
      width: 64px;
      height: 30px;
      background-color: skyblue;
      margin: 17px 0;
    }
    .nav {
      display: flex;
      justify-content: space-between;
    }
  }
  .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .avt {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: aquamarine;
      cursor: pointer;
    }
    .zone {
      display: flex;
      justify-content: space-between;
    }
  }
}
