.stageCard{
    width: 1200px;
    padding: 50px 60px 60px;
    background: #FFFFFF;
    box-shadow: 0px 0px 44px -24px #7C7879;
    border-radius: 30px;
    
    .mb60{
        margin-bottom: 60px;
    }
    .title{
        padding-bottom: 30px;
        border-bottom: 2px solid #E2E2E2;
        font-size: 38px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #1F1E2E;
        line-height: 53px;
        letter-spacing: 0.8px;
    }
    .btn-add{
        width: 240px;
        height: 80px;
        position: relative;
        left: calc((100% - 240px) / 2);
        background: #1F1E2E;
        border-radius: 5px;

        font-size: 28px;
        font-family: PingFangSC-Regular, PingFang SC;
        color: #FFFFFF;
        line-height: 40px;
        letter-spacing: 0.58px;
    }
    .img_p0{
        width: 230px;
        height: 196px;
        margin-top: 77px;
        position: relative;
        left: calc((100% - 230px) / 2);
    }
}