.stageCard{
    width: 1200px;
    padding: 50px 60px 60px;
    margin-bottom: 60px;
    background: #FFFFFF;
    box-shadow: 0px 0px 44px -24px #7C7879;
    border-radius: 30px;
    
    .mb60{
        margin-bottom: 60px;
    }
    .title{
        padding-bottom: 30px;
        border-bottom: 1px solid #E2E2E2;
        font-size: 38px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #1F1E2E;
        line-height: 53px;
        letter-spacing: 0.8px;
    }
    // 预付款
    .payModel{
        padding: 30px 0;
        border-bottom: 1px solid #E2E2E2;

        font-size: 18px;
        font-family: PingFangSC-Regular, PingFang SC;
        color: #1F1E2E;
        line-height: 25px;
        letter-spacing: 1px;
        .ant-checkbox-checked{
            .ant-checkbox-inner{
                background-color: #1F1E2E;
                &:focus, &, &:hover{
                    border: none;
                }
            }
        }
        .prepay{
            margin-top: 15px;
            display: flex;
            align-items: center;
            .ant-input-number{
                width: 222px;
                margin-right: 20px;
                border-radius: 10px;
                border: 1px solid #979797;
                overflow: hidden;
                input{
                    height: 42px;
                    text-align: center;
                }
            }
        }
    }
    .new-tabs{
        border: 1px solid #6DD400;
        .tabs-title{
            font-size: 48px;
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            color: #1F1E2E;
            line-height: 67px;
            letter-spacing: 1px;
            // padding: 20px;
            padding-left: 50px;
            padding-top: 20px;
        }
        .stageInner{
            .btns{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                .confirm{
                    margin-right: 15px;
                    position: static;
                    right: 0; 
                    &:first-child{
                        border: 1px solid #1F1E2E;
                        background-color: white;
                        color: #1F1E2E;
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
            
        }
    }
    // tabs
    .tabs{
        margin-top: 30px;
        margin-bottom: 33px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 0px 44px -24px #7C7879;
        // tabs body
        .ant-tabs-content-holder{
            border-radius: 10px;
            border-top: none;
        }
        .stageInner{
            padding: 30px 50px;
            .inner{
                margin-bottom: 50px;
                font-size: 18px;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: #1F1E2E;
                &:last-child{
                    margin-bottom: 33px;
                }
                .flex{
                    display: flex;
                    align-items: center;
                    p{
                        margin-left: 20px;
                    }
                }
                .inner-title{
                    margin-bottom: 10px;
                    font-size: 24px;
                    line-height: 33px;
                    letter-spacing: 0.86px;
                }
                .name{
                    height: 65px;
                    border-radius: 10px;
                    border: 1px solid #979797;
                }
                .period{
                    width: 280px;
                    overflow: hidden;
                    border-radius: 10px;
                    border: 1px solid #979797;
                    line-height: 25px;
                    letter-spacing: 1px;
                    input{
                        height: 53px;
                    }
                }
                .percent{
                    display: flex;
                    .percent-list{
                        display: flex;
                        margin-right: 60px;
                        .percent-item{
                            width: 95px;
                            height: 42px;
                            padding: 8px 26px;
                            margin-right: 20px;
                            border-radius: 10px;
                            border: 1px solid #1F1E2E;
                            letter-spacing: 1.71px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            &:last-child{
                                margin-right: 0;
                            }
                        }
                        .percent-item-active{
                            background-color: #1F1E2E;
                            color: white;
                        }
                    }
                }
                .amount{
                    width: 125px;
                    overflow: hidden;
                    border-radius: 10px;
                    border: 1px solid #979797;
                    line-height: 25px;
                    letter-spacing: 1.71px;
                    input{
                        height: 42px;
                    }
                }
                textarea{
                    min-height: 200px;
                    border-radius: 10px;
                    border: 1px solid #979797;
                }
            }
            // 确认按钮
            .confirm{
                width: 134px;
                height: 40px;
                margin-bottom: 20px;
                background-color: #1F1E2E;
                border-radius: 31px;
                border: none;
                position: relative;
                left: 810px;

                font-size: 14px;
                font-family: PingFangSC-Regular, PingFang SC;
                color: #FFFFFF;
                line-height: 20px;
                letter-spacing: 1.33px;
            }
        }
    }

    .btn-add{
        width: 240px;
        height: 80px;
        position: relative;
        left: calc((100% - 240px) / 2);
        background: #1F1E2E;
        border-radius: 5px;

        font-size: 28px;
        font-family: PingFangSC-Regular, PingFang SC;
        color: #FFFFFF;
        line-height: 40px;
        letter-spacing: 0.58px;
    }
    .img_p0{
        width: 230px;
        height: 196px;
        margin-top: 77px;
        position: relative;
        left: calc((100% - 230px) / 2);
    }
    //  总计
    .total{

        padding: 65px 0;
        border-bottom: 1px solid #E2E2E2;
        border-top: 1px solid #E2E2E2;
        position: relative;
        text-align: right;
        p{
            margin-bottom: 13px;
            font-size: 28px;
            font-family: PingFangSC-Regular, PingFang SC;
            color: #828282;
            letter-spacing: 1px;
            &:last-child{margin: 0;}

            span{
                font-size: 40px;
                color: #1F1E2E;
                font-family: PingFangSC-Medium, PingFang SC;
            }
        }
        .totalText{
            margin: 0;
            color: #1F1E2E;
        }
        .poa{
            position: absolute;
            left: 0;
            bottom: 65px;
            text-align: left;
            p{
                font-size: 18px;
                font-family: PingFangSC-Regular, PingFang SC;
                color: #828282;
                line-height: 25px;
                letter-spacing: 0.64px;
            }
        }
    }
    // 提交按钮
    .submit{
        width: 582px;
        height: 90px;
        // margin: 0 auto;
        margin-top: 45px;
        margin-left: calc((100% - 582px) / 2);
        border-radius: 5px;
        border: none;

        color: #FFFFFF;
        font-size: 28px;
        font-family: PingFangSC-Regular, PingFang SC;
        line-height: 40px;
        letter-spacing: 1px;
    }
    .show{
        background-color: #1F1E2E;
    }
    .hidden{
        background-color: #E4E4E4;
    }


    // 展示列表
    .stageList{
        padding: 40px 0 50px;
        .items{
            margin-bottom: 54px;
        }
        .stageItem{
            margin-bottom: 27px;
            .itemCard{
                border-radius: 10px;
                box-shadow: 0px 0px 44px -24px #7C7879;
                overflow: hidden;
                .itemCard-nav{
                    width: 100%;
                    height: 85px;
                    padding: 20px 30px;
                    background-color: #1F1E2E;
                    color: white;
                    letter-spacing: 0.67px;

                    display: flex;
                    align-items: center;
                    position: relative;
                    .nav-index{
                        width: 55px;
                        height: 45px;
                        font-size: 32px;
                        font-family: PingFangSC-Semibold, PingFang SC;
                        font-weight: 600;
                        line-height: 45px;
                        letter-spacing: 0.67px;
                    }
                    .new-nav-index{
                        font-size: 32px;
                        font-family: PingFangSC-Semibold, PingFang SC;
                        font-weight: 600;
                        color: #7FF15D;
                        line-height: 45px;
                        letter-spacing: 0.67px;
                    }
                    .nav-title{
                        max-width: 750px;
                        margin: 23px;
                        font-size: 32px;
                        font-family: PingFangSC-Medium, PingFang SC;
                        font-weight: 500;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .status{
                        padding: 4px 11px;
                        border-radius: 2px;

                        font-size: 14px;
                        font-family: PingFangSC-Semibold, PingFang SC;
                        font-weight: 600;
                        color: #FFFFFF;
                        line-height: 20px;
                        letter-spacing: 0.3px;
                    }
                    .completed{
                        background-color: #44D7B6;
                    }
                    .ongoing{
                        background-color: #F7B500;
                    }
                    .wait{
                        background-color: #0052D9;
                    }
                    .operate{
                        width: 110px;
                        height: 32px;

                        display: flex;
                        justify-content: space-between;
                        position: absolute;
                        right: 57px;
                        div{
                            width: 32px;
                            height: 32px;
                            background-color: yellowgreen;
                            
                            position: relative;
                        }
                    }
                }
                .itemCard-content{
                    max-height: 67px;
                    padding: 20px 30px 30px;

                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    .container{
                        margin-right: 60px;
                        margin-bottom: 20px;
                        font-size: 18px;
                        font-family: PingFangSC-Medium, PingFang SC;
                        font-weight: 500;
                        color: #1F1E2E;
                        letter-spacing: 0.64px;
                        &:nth-child(4){
                            width: calc(100% - 30px);
                            margin: 0;
                            p{
                                padding: 7px 10px;
                                background-color: #F6F6F6;
                            }
                        }

                        span{
                            margin-right: 10px;
                            font-family: PingFangSC-Regular, PingFang SC;
                            font-weight: 400;
                            color: #828282;
                            display: inline-block;
                        }
                    }
                    .arrow{
                        width: 27px;
                        height: 27px;
                        background-color: yellowgreen;
                        border-radius: 50%;

                        position: absolute;
                        top: 18px;
                        right: 60px;

                        cursor: pointer;
                    }
                    .btns{
                        width: 100%;
                        margin-top: 30px;
                        margin-right: 30px;
                        display: flex;
                        justify-content: flex-end;
                        
                        button{
                            width: 148px;
                            height: 45px;
                            margin-right: 15px;
                            border-radius: 4px;

                            font-size: 16px;
                            font-family: PingFangSC-Regular, PingFang SC;
                            color: #0052D9;
                            letter-spacing: 0.33px;
                        }
                        .delay{
                            border: 1px solid #0052D9;
                            color: #0052D9;
                        }
                        .abort{
                            border: 1px solid #D13B4E;
                            color: #D13B4E;
                        }
                        .permit{
                            margin-right: 0;
                            border: 1px solid #1F1E2E;
                            background-color: #1F1E2E;
                            color: white;
                        }
                    }
                    .event{
                        width: 100%;
                        margin-top: 30px;
                        display: flex;
                        justify-content: space-between;
                        .btns{
                            width: auto;
                            margin-top: 0;
                        }
                        .content{
                            height: 45px;
                            margin-left: 10px;
                            display: flex;
                            align-items: center;

                            line-height: 45px;
                            font-size: 12px;
                            font-family: PingFangSC-Regular, PingFang SC;
                            letter-spacing: 0.43px;
                            .wait{
                                color: #0052D9;
                            }
                            .handle{
                                display: flex;
                                .date{
                                    margin-left: 20px;
                                    display: flex;
                                    align-items: center;
                                    .icon{
                                        margin: 0 10px;
                                    }
                                }
                            }
                            .icon{
                                width: 16px;
                                height: 16px;
                                margin-right: 10px;
                                background-color: yellowgreen;
                            }
                        }
                    }
                    .delivery{
                        width: 990px;
                        margin-top: 17px;
                        padding-top: 17px;
                        border-top: 1px solid #E2E2E2;
                        .delivery-title{
                            font-size: 18px;
                            font-family: PingFangSC-Regular, PingFang SC;
                            color: #828282;
                            line-height: 25px;
                        }
                        .delivery-content{
                            margin-top: 5px;
                            padding: 13px;
                            background-color: #F6F6F6;            
                            span{
                                margin-right: 10px;
                                font-size: 12px;
                                color: #828282;
                                line-height: 22px;
                                letter-spacing: 1.33px;
                                display: inline-block;
                            }
                            a{
                                color: #554AFF;
                                text-decoration: underline;
                            }
                            .content{
                                width: 100%;
                                color: #1F1E2E;
                            }
                            .item{
                                display: flex;
                                align-items: flex-start;
                                &:last-child{
                                    margin-top: 5px;
                                }
                            }
                        }
                    }
                }
                .open{
                    max-height: max-content;
                }
            }
        }
    }
}