.pjc_detail{
    width: 100%;
    min-height: 100vh;
    padding: 100px 20% 0;
    margin: 0;
    background-color: #f0f2f5;
    // margin-bottom: 100px;
    padding-bottom: 100px;

    .container{
        box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
        .top{
            height: 190px;
            background: #F7FAFC;
            border-bottom: 1px solid #ededed;
            border-top: 1px solid #fff;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;

            box-sizing: border-box;
            padding: 20px;
            position: relative;
            display: flex;
            flex-direction: column;
            div:first-child{
                display: flex;
                align-items: center;
            }
            div:last-child{
                display: flex;
                margin-top: 20px;
                p{
                    margin-right: 10px;
                }
            }
            button{
                position: absolute;
                right: 20px;
                bottom: 20px;
                border: none;
                color: white;
                background-color: rgb(0, 145, 255);
                padding: 5px 15px;
                border-radius: 4px;
                cursor: pointer;
            }
        }
        .content{
            background-color: white;
            // height: calc(100vh - 290px);
            min-height: 500px;
        }
    }
}