// btn===================>
.btn_blue{
    border-radius: 5px;
    background-color: #4289db;
    padding: 4px 21px;
    color: white;
    margin-left: 20px;
}

// width===================>
.w150{
    width: 150px;
    text-align: center;
}
.w1200{
    width: 1200px;
}

// height===================>
.h100vh{
    height: 100vh;
}
// flex===================>
.df{
    display: flex;
    align-items: center;
    justify-content: center;
}
.item_container{
    padding: 21px 0;
    display: flex;
    justify-content: flex-start;
}
.item_img{
    width: 150px;
    height: 80px;
    border-radius: 5px;
    background-color: #4289db;
    img{
        width: 100%;
        height: 100%;
    }
}
.item_content{
    width: calc(100% - 150px);
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.between{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.around{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.flex_start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

// margin===================>
.ml20{
    margin-left: 20px;
}
.ml10{
    margin-left: 10px;
}
.mr30{
    margin-right: 30px;
}
.mt5_{
    margin-top: 5%;
}

// padding===================>
.padding_0_20{
    padding: 0 20%;
}
.pt5_{
    padding-top: 5%;
}

// color===================>
.color_red{
    color: #f75288;
    font-size: small;
}
.bg1{
    background-color: #eef0f3;
}



// utils===================>
.utils_line{
    background-color: #8796a8;
    height: 20px;
    
}


