.df{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_blue{
    border-radius: 5px;
    background-color: #4289db;
    padding: 4px 21px;
    color: white;
    margin-left: 20px;
}
.w150{
    width: 150px;
    text-align: center;
}